{% extends "core/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<body style="background-color: #f8f9fa;">
    <div class="container mt-5">
        <div class="row">
            <!-- Left Section: Products and Total -->
            <div class="col-md-8 mb-4">
                <div class="order-summary card shadow p-3 mb-5 bg-white rounded">
                    <div class="products-section mb-4">
                        <h3 class="text-center text-success">Order Placed, Thank You !!!</h3>
                        <br>
                        {% for data in order_data %}
                        <div class="product-item border p-3 mb-2 bg-light rounded">
                            <div class="product-name font-weight-bold">Restaurant Name: {{data.restaurant.restaurant_name}}</div>
                            <hr>
                            {% for dish in dishes_list %}
                            <div class="product-quantity">Dish: {{dish.dish.Name}}</div>
                            {% endfor %}
                        </div>
                        <div class="total-section mt-4">
                            <h3 class="text-center">Total</h3>
                            <div class="total-price text-center font-weight-bold">Total Price: <span>Rs. {{data.total_price}}</span></div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Right Section: Customer Details -->
            <div class="col-md-4">
                <div class="customer-section card shadow p-3 mb-5 bg-white rounded">
                    <h3 class="text-center">Customer Details</h3>
                    <div class="customer-info border p-3 mb-2 bg-light rounded">
                        <div class="customer-name">Name: <span>{{customer_details.User.first_name}}</span></div>
                        <hr>
                        <div class="customer-email">Email: <span>{{customer_details.User.email}}</span></div>
                        <hr>
                        <div class="customer-address">Address: <span>{{customer_details.Address}}</span></div>
                        <hr>
                        <div class="customer-phone">Phone: <span>{{customer_details.contact_no}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}
